In [1]:
import pandas as pd

In [3]:


# Load your Excel file
#file_path = "path_to_your_file.xlsx"
data = pd.read_excel('Relative_Humidity_with_all_months.xlsx')
data

,Name,Year,Month,Eg El Abbreviation,DAY 1,DAY 2,DAY 3,DAY 4,DAY 5,DAY 6,...,DAY 22,DAY 23,DAY 24,DAY 25,DAY 26,DAY 27,DAY 28,DAY 29,DAY 30,DAY 31
0,Akuse,1983,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Akuse,1983,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Akuse,1983,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Akuse,1983,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Akuse,1983,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10819,Wa,2023,8,RH,85.0,88.0,88.0,89.0,86.0,86.0,...,85.0,99.0,88.0,92.0,89.0,85.0,83.0,83.0,82.0,NaN
10820,Wa,2023,9,RH,81.0,74.0,85.0,87.0,80.0,92.0,...,88.0,77.0,81.0,79.0,86.0,77.0,69.0,72.0,75.0,NaN
10821,Wa,2023,10,RH,73.0,82.0,74.0,88.0,89.0,76.0,...,75.0,69.0,72.0,74.0,64.0,75.0,67.0,69.0,60.0,NaN
10822,Wa,2023,11,RH,76.0,67.0,60.0,70.0,70.0,70.0,...,59.0,64.0,71.0,75.0,70.0,72.0,63.0,66.0,75.0,NaN
10823,Wa,2023,12,RH,59.0,64.0,44.0,63.0,72.0,70.0,...,21.0,26.0,26.0,22.0,21.0,23.0,21.0,22.0,23.0,NaN

In [5]:
#Count total cells
total_cells = data.size

# Count non-missing cells
non_missing_cells = data.count().sum()

# Calculate percentage of available data
percentage_available = (non_missing_cells / total_cells) * 100

print(f"Percentage of available data: {percentage_available:.2f}%")

Percentage of available data: 66.21%